<div class="page-wrapper">
  <div class="content">
    <!-- Header -->
    <div class="page-header mb-4">
      <div class="row">
        <div class="col-sm-12">
          <ol class="breadcrumb bg-light p-2 rounded">
            <li class="breadcrumb-item"><a href="#">{{ 'DEPARTMENTS' | translate }} ></a></li>
            <li class="breadcrumb-item active">{{ 'LIST_DEPARTMENTS' | translate }}</li>
          </ol>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card shadow-sm border-0">
          <div class="card-body">

            <!-- Table Header -->
            <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
              <h4 class="mb-0">{{ 'LIST_OF_DEPARTMENTS' | translate }}</h4>
              <div class="d-flex align-items-center gap-2">
                <div class="input-group">
                  <input type="text" class="form-control" [placeholder]="'SEARCH' | translate" [(ngModel)]="searchDataValue" (ngModelChange)="searchData(searchDataValue)">
                  <span class="input-group-text bg-white">
                    <img src="assets/img/icons/search-normal.svg" alt="">
                  </span>
                </div>
                <a routerLink="/departaments-m/register" class="btn btn-primary"><img src="assets/img/icons/plus.svg" alt=""></a>
                <button class="btn btn-outline-secondary" (click)="PageSize()"><img src="assets/img/icons/re-fresh.svg" alt=""></button>
              </div>
            </div>

            <!-- Table -->
            <div class="table-responsive">
              <table matSort (matSortChange)="sortData($event)" class="table table-hover table-bordered align-middle">
                <thead class="table-light">
                  <tr>
                    <th mat-sort-header="name">{{ 'NAME' | translate }}</th>
                    <th mat-sort-header="state">{{ 'STATE' | translate }}</th>
                    <th mat-sort-header="created_at">{{ 'REGISTERED' | translate }}</th>
                    <th class="text-end">{{ 'ACTIONS' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of departamentsList">
                    <td>{{ data.name }}</td>
                    <td>
                      <span class="badge rounded-pill" [ngClass]="data.state === 1 ? 'bg-success' : 'bg-danger'">
                        {{ data.state === 1 ? ('ACTIVE' | translate) : ('INACTIVE' | translate) }}
                      </span>
                    </td>
                    <td>{{ data.created_at }}</td>
                    <td class="text-end">
                      <div class="dropdown">
                        <a href="javascript:void(0);" class="text-muted" data-bs-toggle="dropdown">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" [routerLink]="['/departaments-m/list-departament/edit-departament/', data.id]">
                            <i class="fa-solid fa-pen-to-square me-2"></i> {{ 'EDIT' | translate }}
                          </a>
                          <a class="dropdown-item text-danger" href="javascript:void(0);" (click)="selectDepartament(data)" data-bs-toggle="modal" [attr.data-bs-target]="'#delete_departament-' + data.id">
                            <i class="fa fa-trash-alt me-2"></i> {{ 'DELETE' | translate }}
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <!-- Modal -->
                  <ng-container *ngFor="let data of departamentsList">
                    <div [attr.id]="'delete_departament-' + data.id" class="modal fade" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-body text-center">
                            <img src="assets/img/sent.png" alt="" width="50" height="46" />
                            <h5 class="mt-3" *ngIf="departament_selected">
                              {{ 'DELETE_DEPARTMENT_CONFIRM' | translate }} <strong>{{ departament_selected.name }}</strong>?
                            </h5>
                            <div class="mt-4 d-flex justify-content-center gap-3">
                              <button class="btn btn-light" data-bs-dismiss="modal">{{ 'CANCEL' | translate }}</button>
                              <button class="btn btn-danger" (click)="deleteDepartament()">{{ 'DELETE' | translate }}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <!-- Pagination -->
            <div class="d-flex justify-content-between align-items-center mt-3 flex-wrap">
              <div class="text-muted">
                {{ 'SHOWING' | translate }} {{ serialNumberArray[0] }} {{ 'TO' | translate }} {{ serialNumberArray[serialNumberArray.length - 1] }} {{ 'OF' | translate }} {{ totalData }} {{ 'RECORDS' | translate }}
              </div>
              <nav>
                <ul class="pagination mb-0">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" href="javascript:void(0);" (click)="getMoreData('previous')">{{ 'PREVIOUS' | translate }}</a>
                  </li>
                  <ng-container *ngFor="let item of pageNumberArray">
                    <li class="page-item" [class.active]="item === currentPage">
                      <a class="page-link" href="javascript:void(0);" (click)="moveToPage(item)">{{ item }}</a>
                    </li>
                  </ng-container>
                  <li class="page-item" [class.disabled]="currentPage === pageNumberArray[pageNumberArray.length - 1]">
                    <a class="page-link" href="javascript:void(0);" (click)="getMoreData('next')">{{ 'NEXT' | translate }}</a>
                  </li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>