<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Verificar cuenta</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <div *ngIf="!timerExpired" class="text-muted small mb-2">
            El código expira en {{ timerDisplay }}
          </div>
          <div *ngIf="timerExpired" class="alert alert-warning p-2 small d-flex justify-content-between align-items-center">
            El código ha expirado.
            <button class="btn btn-sm btn-outline-secondary ms-2" (click)="resendCode()">Reenviar código</button>
          </div>

          <div *ngIf="resendSuccessMsg" class="alert alert-info small mt-2">
            {{ resendSuccessMsg }}
          </div>


          <label>Correo electrónico</label>
          <input formControlName="email" class="form-control" type="email" readonly />
        </div>

        <div class="mb-3">
          <label>Código de verificación</label>
          <input formControlName="code" class="form-control" maxlength="8" placeholder="Ej. ABC1234Z" />
          <div *ngIf="submitted && f['code'].invalid" class="text-danger small mt-1">
            Código requerido (mínimo 6 caracteres).
          </div>
        </div>

        <div *ngIf="errorMsg" class="alert alert-danger mt-2">
          {{ errorMsg }}
        </div>

        <div *ngIf="successMsg" class="alert alert-success mt-2">
          {{ successMsg }}
        </div>

        <button [disabled]="form.invalid || loading || timerExpired" class="btn btn-primary w-100 mt-3">
          Verificar
        </button>
      </form>
    </div>
  </div>
</div>
